<div class="flex flex-col justify-center items-center w-full py-8 px-16 bg-gray-100">
    <div class="flex justify-between items-center w-full text-gray-600">
        <p>©2025 Iftekhar Md Shishir</p>
        <div class="flex gap-1">
            <p>Archive</p>
            <span>•</span>
            <p>Privacy Policy</p>
            <span>•</span>
            <p>Terms</p>
        </div>
    </div>

    <div class="flex justify-center items-center py-5 text-gray-700">
        ✩✩✩✩✩
    </div>
    <div class="flex justify-center items-center py-3">
        <img src="./hashnode.png" alt="hashnode-icon" class="h-8 w-8 object-contain" />
    </div>
    <div class="flex justify-center items-center py-3 text-gray-700">
        <p>Powered by Hashnode - Build your developer hub.</p>
    </div>
    <div class="flex justify-center items-center py-3 gap-3 text-gray-700">
        <button class="rounded-lg py-2 px-3 border border-gray-300 bg-white hover:bg-gray-50">Start Your Blog</button>
        <button class="rounded-lg py-2 px-3 border border-gray-300 bg-white hover:bg-gray-50">Create Docs</button>
    </div>
</div>
