<div class="py-10 px-6 md:px-20 lg:px-60">
  <div class="flex flex-col justify-center items-center gap-6">
    <img
      src="{{ postService.postToShow()?.imgUrl }}"
      alt="blog-image"
      class="object-cover rounded-lg w-full"
    />
    <p class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-center font-semibold">
      {{ postService.postToShow()?.title }}
    </p>
    <div
      class="flex flex-wrap justify-center items-center gap-2 text-base sm:text-lg md:text-xl text-gray-700 py-3"
    >
      <img
        src="{{ postService.postToShow()?.authorImage }}"
        alt="author-image"
        class="h-10 w-10 sm:h-12 sm:w-12 object-cover rounded-full"
      />
      <p>{{ postService.postToShow()?.authonName }}</p>
      <span>•</span>
      <p>13 Aug 2024</p>
      <span>•</span>
      <p>📖 5 min read</p>
    </div>

    <!-- Table Of Contents -->
    <div class="text-base sm:text-lg">
      {{ postService.postToShow()?.body }}
    </div>

    <div class="flex justify-center items-center w-full">
      <app-subscribe [author]="postService.postToShow()?.authonName" />
    </div>

    <div class="flex justify-center items-center gap-4">
      <app-tags/>
    </div>
  </div>
</div>
