<div class="flex justify-center items-center w-full py-3 px-4 sm:px-8">
  <div class="flex flex-col justify-center items-center py-3 gap-4 w-full sm:w-[80%] md:w-[70%] lg:w-[60%]">
    <p class="text-2xl sm:text-3xl md:text-4xl font-semibold text-center">
      Subscribe to our newsletter
    </p>
    <p class="text-center text-base sm:text-lg text-gray-600">
      Read articles from
      <span class="font-semibold">{{ author() }}</span> directly inside your
      inbox. Subscribe to the newsletter, and don't miss out.
    </p>
    <form action="" class="flex justify-center w-full text-base sm:text-lg">
      <input
        type="text"
        placeholder="Your email address"
        class="w-[65%] sm:w-[70%] border rounded-l-lg p-3 sm:p-4"
      />
      <button
        class="w-[35%] sm:w-[30%] bg-gray-800 text-white rounded-r-lg p-3 sm:p-4 hover:bg-gray-700 uppercase"
      >
        Subscribe
      </button>
    </form>
  </div>
</div>
