<div class="flex justify-center items-center w-full py-3">
  <div class="flex flex-col justify-center items-center py-3 gap-4 w-[60%]">
    <p class="text-4xl font-semibold">Subscribe to our newsletter</p>
    <p class="text-center text-lg text-gray-600">
      Read articles from
      <span class="font-semibold">{{ author() }}</span> directly inside your
      inbox. Subscribe to the newsletter, and don't miss out.
    </p>
    <form action="" class="flex justify-center w-full text-xl">
      <input
        type="text"
        placeholder="Your email address"
        class="w-[73%] border rounded-l-lg p-4"
      />
      <button
        class="w-[27%] bg-gray-800 text-white rounded-r-lg p-3 hover:bg-gray-700 uppercase"
      >
        Subscribe
      </button>
    </form>
  </div>
</div>
