<section class="">
  <div class="w-full flex justify-center bg-gray-50 px-10 py-10 border-b border-gray-300">
    <div class="w-[65%] px-4">
      <app-featured-main/>
    </div>
    <div class="w-[35%] px-4">
      <app-featured-sidebar/>
    </div>
  </div>
  <div class="flex justify-center items-center border-b border-gray-300">
    <app-profile/>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-14 py-10 border-b border-gray-300">
    @for (post of postService.posts(); track $index) {
      <div>
        <app-blog-card [post]="post"/>
      </div>
    }
  </div>
</section>
